//META{"name":"Doge Is Epic Theme","description":"Changes DISCORD logo to DOGE IS EPIC   --   Released 2022-1-25 (Y-M-D)","author":"letter_t","version":"1.0.3"}*//



/*
"DOGE IS EPIC" THEME
by t

 IF YOU ENCOUNTER ANY ISSUES, OR IF DISCORD "UPDATES" THEIR UI FOR AT LEAST THE 17TH TIME, 
 PLEASE CONTACT ME BY DISCORD OR BY EMAIL FOR A FIXED/UPDATED VERSION.

 Discord: letter_t
 Email: tosiq25@gmail.com
*/



.wordmarkWindows__05c46 path 
{
	d: path("M3.57642276,0.141304348 L0,0.141304348 L0,4.22826087 L2.38069106,6.40217391 L2.38069106,2.43478261 L3.66260163,2.43478261 C4.47052846,2.43478261 4.86910569,2.83695652 4.86910569,3.4673913 L4.86910569,6.5 C4.86910569,7.13043478 4.49207317,7.55434783 3.66260163,7.55434783 L0,7.55434783 L0,9.85869565 L3.57642276,9.85869565 C5.49390244,9.86956522 7.29288618,8.90217391 7.29288618,6.66304348 L7.29288618,3.39130435 C7.29288618,1.13043478 5.49390244,0.141304348 3.57642276,0.141304348 Z M12.7353659,0 C10.753252,0 8.7819106,1.09782609 8.7819106,3.33695652 L8.7819106,6.66304348 C8.7819106,8.89130435 10.7640244,10 12.7569106,10 C14.7390244,10 16.7103659,8.89130435 16.7103659,6.66304348 L16.7103659,3.33695652 C16.7103659,1.10869565 14.7174797,0 12.7353659,0 Z M14.2865854,6.66304348 C14.2865854,7.35869565 13.5109756,7.7173913 12.7461382,7.7173913 C11.9705285,7.7173913 11.1949187,7.36956522 11.1949187,6.66304348 L11.1949187,3.33695652 C11.1949187,2.61956522 11.9489837,2.23913043 12.7030488,2.23913043 C13.4894309,2.23913043 14.2865854,2.58695652 14.2865854,3.33695652 L14.2865854,6.66304348 Z M20.8310976,6.67391304 L20.8310976,3.32608696 C20.8310976,2.11956522 22.9640244,1.83695652 23.6103659,3.05434783 L25.5817073,2.23913043 C24.8168699,0.510869565 23.3949187,0 22.2207317,0 C20.303252,0 18.4073171,1.13043478 18.4073171,3.32608696 L18.4073171,6.67391304 C18.4073171,8.88043478 20.303252,10 22.1776423,10 L25.3554878,10 L25.3554878,4.38 L22.2,4.38 L22.2,6.67 L23.07,6.67 L23.07,7.71 L21.87,7.71 C21.87,7.71 20.8310976,7.71 20.8310976,6.67391304 Z M33.3605691,0.141304348 L26.9815041,0.141304348 L26.9815041,9.86956522 L33.3605691,9.86956522 L33.3605691,7.58 L29.27,7.58 L29.27,6.16 L33.3605691,6.16 L33.3605691,3.87 L29.27,3.87 L29.27,2.45 L33.3605691,2.45 L33.3605691,0.141304348 Z M41.59634146,9.85869565 L44.0093496,9.85869565 L44.0093496,0.141304348 L41.59634146,0.141304348 L41.59634146,9.85869565 Z M49.3030488,3.7826087 C48.5597561,3.61956522 48.0642276,3.34782609 48.0319106,2.88043478 C48.075,1.75 49.7878049,1.7173913 50.7896341,2.79347826 L52.3731707,1.55434783 C51.3821138,0.326086957 50.2617886,0 49.098374,0 C47.3424797,0 45.6404472,1 45.6404472,2.91304348 C45.6404472,4.77173913 46.0408537,5.76086957 48.5813008,6 C49.3676829,6.10869565 50.2402439,6.42391304 50.2186992,6.97826087 C50.154065,8.02173913 48.0426829,7.9673913 47.0839431,6.7826087 L45.5650407,8.23913043 C46.4591463,9.40217391 47.6764228,10 48.8182927,10 C 50.574187,10 52.5239837,8.9673913 52.5993902,7.08695652 C52.7071138,4.69565217 51.0050813,4.09782609 49.3030488,3.7826087 Z M65.9,0.141304348 L59.52,0.141304348 L59.52,9.86956522 L65.9,9.86956522 L65.9,7.58 L61.81,7.58 L61.81,6.16 L65.9,6.16 L65.9,3.87 L61.81,3.87 L61.81,2.45 L65.9,2.45 L65.9,0.141304348 Z M74.8605691,3.33695652 C74.8067073,1.05434783 73.2770325,0.141304348 71.3056911,0.141304348 L67.4815041,0.141304348 L67.4815041,9.86956522 L69.9268293,9.86956522 L69.9268293,6.77173913 L71.3056911,6.77173913 C71.3056911,6.77173913 74.8067073,6.77173913 74.8067073,3.336 Z M71.3487805,4.65217391 L69.9268293,4.65217391 L69.9268293,2.43478261 L71.3487805,2.43478261 C72.8784553,2.43478261 72.8784553,4.65217391 71.3487805,4.65217391 Z M76.29634146,9.85869565 L78.6093496,9.85869565 L78.6093496,0.141304348 L76.29634146,0.141304348 L76.29634146,9.85869565 Z M82.5310976,6.67391304 L82.5310976,3.32608696 C82.5310976,2.11956522 84.6640244,1.83695652 85.3103659,3.05434783 L87.2817073,2.23913043 C86.5168699,0.510869565 85.0949187,0 83.9207317,0 C82.003252,0 80.1073171,1.13043478 80.1073171,3.32608696 L80.1073171,6.67391304 C80.1073171,8.88043478 82.003252,10 83.8776423,10 C85.0841463,10 86.5276423,9.39130435 87.3247967,7.81521739 L85.2134146,6.82608696 C84.6963415,8.17391304 82.5310976,7.84782609 82.5310976,6.67391304 Z") !important;
}

div.wordmarkWindows__05c46.wordmark__0d178 > svg
{
	overflow: visible !important;
}

.wordmarkWindows__05c46 path:not(:first-child) 
{
	display: none;
}

.wordmarkWindows__05c46 g {
	transform: translateY(3px);
}

.wordmarkWindows__05c46 {
	width: 108px !important;
}

div.wordmarkWindows__05c46.wordmark__0d178::before {
	background-color: #ff00ff00;
	display: block;
	color: var(--header-primary);
	font-family: var(--font-display);
	content: "";
    width: 16px;
    height: 16px;
	margin-right: 6px;
	float: left;

	background: url("https://media.discordapp.net/stickers/859906397818978314.webp") no-repeat;
	filter: grayscale(1);
    background-size: cover;
}
/*
yes, that is the entirety of the code.
*/


